
/* メインタイトル用のCSS */
  h1{
    font-family: 'Vidaloka', serif;
    text-align:center;
    font-weight:normal;
    color: black;
    }
    .main-title{
      display: block;
      font-size: 70px;
      text-shadow: 1px 1px 2px #999;

      display: flex;
      align-items: center; /*上下中央*/
      justify-content: center; /*左右中央*/
    }
    .description{
      display:block;
      font-size:24px;
      text-shadow:1px 1px 2px #888;
    }
    h1 a, h1 a:hover {
      text-decoration: none;
      color: black;
    }

/* ナビバーのCSS */
nav {
  }
  .navbar-nav {
    
    
    margin: 0;
    padding: 6px;
    list-style-type: none;
    }
    @media (min-width: 768px) {
      .navbar-nav {
        width: 100%;
        margin: 0 auto;

        display: flex;
        flex-flow: row;
        justify-content: center;
      }
    }

  .navbar-nav a {
    display: block;
    width: 100%;
    padding: 12px 24px;
    color: white;
    text-decoration: none;
    }
    .navbar-nav a:hover {
      background-color: #888;
    }
    .navbar-nav .active {
      background-color: #888;
    }
    .navbar-nav a.disabled {
      color: #888;
    }
    .navbar-nav a.disabled:hover{
      background-color: #343a40;
    }

/* section */
section {
  margin: 50px auto;
}
  section h2 {
    font-weight: 700;

    border-bottom: solid 3px #f8f8f8;
    position: relative;
  }
  section h4 {
    color: #333;
  }

  section h2:after {
    position: absolute;
    content: " ";
    display: block;
    border-bottom: solid 3px #888;
    bottom: -3px;
    width: 25%;
    }

/* メニューバー */
.scrollspy {
  position: relative;
  height: 350px;
  overflow: auto;
}
.nav-link.scroll {
  width: 100%;
  color: #888;
}
.nav-link.scroll.active {
  background-color: #888;
}

/* Back to Topボタン */
.page-top
{
	margin: 0 ;
  padding: 0 ;
  display: none ;
}
 
.page-top p
{
	margin: 0 ;
	padding: 0 ;

	position: fixed ;
	right: 30px ;
	bottom: 30px ;
}
 
.move-page-top
{
	display: block ;
	background: #888 ;
	width: 130px ;
	height: 70px ;

	color: #fff ;
	line-height: 30px ;
	text-decoration: none ;
	text-align: center ;

	-webkit-transition:all 0.3s ;
	-moz-transition:all 0.3s ;
	transition:all 0.3s ;
}

.move-page-top:hover
{
  opacity: 0.85 ;
  text-decoration: none;
  color: white;
}


footer {
  height: 50px;
}
footer a {
  text-decoration: none;
  color: #8f8f8f;
}


/* Bootstrapの改造 */

@media (min-width: 768px) {
  .container {
    max-width: 800px;
  }
}
 
@media (min-width: 992px) {
  .container {
    max-width: 980px;
  }
}
 
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}